@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-bg-darker: #424242;
    --color-bg-lighter: #535353;
    --color-bg-lightest: #878787;
    --color-red-scarlett: #ed2100;
    --color-orange-neon: #ff5c00;
    --color-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";  
}

section {
    padding: 20px;
}

#ui {
    width: max-content;
    overflow: hidden;
}

#display {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-bg-darker);
    overflow: hidden;
}

#upper-display {
    flex-direction: row;
    padding: 5px;
    height: 60%;
    border-color: var(--color-bg-darker);
    border-style: dashed;
    border-bottom:var(--color-bg-darker);
}

#past-display {
    height: 100%;
    border-left: var(--color-bg-darker);
}

#operator-display {
    display: inline-block;
    text-align: end;
}

#bottom-display {
    padding: 5px;
    font-size: 1.5rem;
    text-align: end;
    vertical-align: baseline;
    align-content: baseline;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-lightest);
}

.row {
    display: flex;
    flex-direction: row;
}

.btn-calc {
    font-family: "Roboto"; 
    background-color: var(--color-bg-darker);
    color: var(--color-white);
    font-size: 1.75rem;
    width: 80px;
    padding: 5px;
    border-style: solid;
    border-width: 0.2px;
    border-radius: 5%;
    border-color: var(--color-bg-lightest);
}

.btn-calc-num {
    background-color: var(--color-bg-lighter);
}

#btn-clear {
    background-color: var(--color-orange-neon);
}

#btn-equals {
    background-color: var(--color-red-scarlett);
}

.btn-calc:hover {
    opacity: 0.5;
}